.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 30px 10px 30px;
    margin: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.77);
}

.title hr {
    width: 90%;
    border: none;
    height: 2px;
    background: linear-gradient(to right, #fff, #302b63, #fff);
}